run = "npm run serve"
modules = ["nodejs-18", "web", "nix"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run serve"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 3002

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 5800063
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
